.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @media (max-width: 429px) {
    justify-content: center;
    flex-wrap: wrap;
  }

  div {
    display: flex;
    justify-content: start;
    gap: 1rem;
    flex: 1 1 80%;

    input[type="text"] {
      color: white;
      outline: none;

      &::placeholder {
        color: white;
      }
    }

    svg {
      height: 2rem;
      width: auto;
      fill: #0079fe;
    }
  }

  span {
    color: #f74646;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
  }

  button {
    background-color: #0079fe;
    color: white;
    padding: 0.8rem 1.5rem;
    // margin-left: 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    flex: 0 0 20%;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &.lightTheme {
    div {
      input[type="text"] {
        color: #acb8c4;

        &::placeholder {
          color: #acb8c4;
        }
      }
    }
  }
}
