header {
  max-width: 1048px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 2.5rem;
  color: white;
  transition: 0.2s linear all;

  @media (max-width:297px){
    justify-content: center;
    flex-wrap: wrap;
  }

  .themeToggle {
    margin-left: 1rem;
    font-size: var(--font-sm);
    font-weight: bold;

    &__option {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    svg {
      fill: white;
    }
  }

  &.lightTheme {
    color: black;

    .themeToggle {
      p{
        color: #506d98;
      }
      svg {
        fill: #506d98;
      }
    }
  }
}
