/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-sm: 0.875em; /* Fonte pequena */
  --font-md: 1.124em; /* Fonte média */
  --font-x-md: 1.667em; /* Fonte extra média */
  --font-x-lg: 3.075em; /* Fonte extra grande */
}

/* Estilos para telas maiores que 787px */
@media (min-width: 787px) {
  :root {
    --font-sm: 0.875em;
    --font-md: 1.124em;
    --font-x-md: 1.667em;
    --font-x-lg: 3.075em;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
label,
button {
  display: block;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

a,
button {
  cursor: pointer;
}

input {
  width: 100%;
}

html,
body {
  // height: 100dvh;
  width: 100vw;
}

body {
  background-color: #141c2f;
  // font-family: "PT Sans", sans-serif;
  // font-weight: 400;
  // font-style: normal;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  transition: 0.2s linear background-color;
}
